.u-section-5-1 .u-sheet-1 {min-height: 627px}
.u-section-5-1 .u-text-1 {font-size: 1.875rem; font-style: italic; margin: 0 784px 60px 0} 

@media (max-width: 1199px){ .u-section-5-1 .u-sheet-1 {min-height: 531px}
.u-section-5-1 .u-text-1 {margin-left: auto; margin-right: auto} }

@media (max-width: 991px){ .u-section-5-1 .u-sheet-1 {min-height: 567px} }

@media (max-width: 767px){ .u-section-5-1 .u-sheet-1 {min-height: 423px}
.u-section-5-1 .u-text-1 {font-size: 1.25rem} }

@media (max-width: 575px){ .u-section-5-1 .u-sheet-1 {min-height: 436px} }.u-section-5-2 .u-sheet-1 {min-height: 627px}
.u-section-5-2 .u-text-1 {font-size: 1.875rem; font-style: italic; margin: 0 843px 60px 0} 

@media (max-width: 1199px){ .u-section-5-2 .u-sheet-1 {min-height: 671px}
.u-section-5-2 .u-text-1 {margin-top: 504px; margin-right: 0; margin-bottom: 23px} }

@media (max-width: 991px){ .u-section-5-2 .u-sheet-1 {min-height: 627px}
.u-section-5-2 .u-text-1 {margin-top: 436px; margin-bottom: 47px} }

@media (max-width: 767px){ .u-section-5-2 .u-text-1 {font-size: 1.25rem} }.u-section-1 {background-image: url("images/3.jpg"); background-position: 50% 50%}
.u-section-1 .u-sheet-1 {min-height: 818px}
.u-section-1 .u-layout-wrap-1 {width: 1140px; margin: 60px auto 0}
.u-section-1 .u-layout-cell-1 {min-height: 400px}
.u-section-1 .u-container-layout-1 {padding: 30px}
.u-section-1 .u-text-1 {font-weight: 700; letter-spacing: 2px; line-height: 2.2; font-size: 1.25rem; text-transform: uppercase; margin: 0 368px 0 0}
.u-section-1 .u-btn-1 {padding: 0}
.u-section-1 .u-btn-2 {padding: 0}
.u-section-1 .u-btn-3 {padding: 0}
.u-section-1 .u-layout-cell-2 {min-height: 400px}
.u-section-1 .u-container-layout-2 {padding: 30px}
.u-section-1 .u-text-2 {margin-top: 0; font-size: 4.5rem; font-weight: 900; margin-bottom: 0; text-decoration: underline !important}
.u-section-1 .u-list-1 {min-height: 214px; grid-template-columns: 33.3333% 33.3333% 33.3333%; grid-gap: 0 0; margin: 84px auto 60px 0}
.u-section-1 .u-container-layout-3 {padding: 30px}
.u-section-1 .u-icon-1 {height: 64px; width: 64px; background-image: none; margin: 0 auto}
.u-section-1 .u-text-3 {margin: 20px 0 0}
.u-section-1 .u-btn-4 {padding: 0}
.u-section-1 .u-list-item-2 {background-position: 50% 50%}
.u-section-1 .u-container-layout-4 {padding: 30px}
.u-section-1 .u-icon-2 {height: 64px; width: 64px; background-image: none; margin: 0 auto}
.u-section-1 .u-text-4 {margin: 20px 0 0}
.u-section-1 .u-btn-5 {padding: 0}
.u-section-1 .u-container-layout-5 {padding: 30px}
.u-section-1 .u-icon-3 {height: 64px; width: 64px; background-image: none; margin: 0 auto}
.u-section-1 .u-text-5 {margin: 20px 0 0}
.u-section-1 .u-btn-6 {padding: 0} 

@media (max-width: 1199px){ .u-section-1 {min-height: 411px}
.u-section-1 .u-sheet-1 {min-height: 294px}
.u-section-1 .u-layout-wrap-1 {margin-top: 69px; margin-right: initial; margin-left: initial; width: auto}
.u-section-1 .u-layout-cell-1 {min-height: 330px}
.u-section-1 .u-text-1 {margin-right: 268px}
.u-section-1 .u-layout-cell-2 {min-height: 330px}
.u-section-1 .u-list-1 {min-height: 176px; height: auto; margin-top: 75px; margin-right: initial; margin-left: initial} }

@media (max-width: 991px){ .u-section-1 {min-height: 315px}
.u-section-1 .u-sheet-1 {min-height: 932px}
.u-section-1 .u-layout-wrap-1 {position: relative; width: auto; margin-right: initial; margin-left: initial}
.u-section-1 .u-layout-cell-1 {min-height: 100px}
.u-section-1 .u-text-1 {margin-right: 158px}
.u-section-1 .u-layout-cell-2 {min-height: 100px}
.u-section-1 .u-text-2 {font-size: 3.75rem}
.u-section-1 .u-list-1 {min-height: 404px; grid-template-columns: 50% 50%; margin-right: initial; margin-left: initial} }

@media (max-width: 767px){ .u-section-1 {background-position: 0% 50%; min-height: 236px}
.u-section-1 .u-sheet-1 {min-height: 1190px}
.u-section-1 .u-layout-cell-1 {min-height: 220px; order: 1}
.u-section-1 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-layout-cell-2 {order: 0}
.u-section-1 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-container-layout-4 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-container-layout-5 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-1 {min-height: 149px}
.u-section-1 .u-sheet-1 {min-height: 1198px}
.u-section-1 .u-text-1 {margin-right: 0}
.u-section-1 .u-text-2 {font-size: 3rem} }.u-section-2 {background-image: none}
.u-section-2 .u-sheet-1 {min-height: 782px}
.u-section-2 .u-layout-wrap-1 {width: 876px; margin: 60px auto 0}
.u-section-2 .u-layout-cell-1 {min-height: 361px}
.u-section-2 .u-container-layout-1 {padding: 30px}
.u-section-2 .u-text-1 {margin-top: 0; font-size: 1.25rem; font-weight: 700; text-transform: uppercase; letter-spacing: 2px}
.u-section-2 .u-layout-cell-2 {min-height: 361px}
.u-section-2 .u-container-layout-2 {padding: 30px}
.u-section-2 .u-text-2 {font-size: 1.125rem; margin: 0}
.u-section-2 .u-layout-cell-3 {min-height: 361px}
.u-section-2 .u-container-layout-3 {padding: 30px}
.u-section-2 .u-text-3 {font-size: 1.25rem; text-transform: uppercase; font-weight: 700; letter-spacing: 2px; margin: 0 auto 0 0}
.u-section-2 .u-layout-cell-4 {min-height: 361px}
.u-section-2 .u-container-layout-4 {padding: 30px}
.u-section-2 .u-text-4 {margin-top: 0; font-size: 1.125rem} 

@media (max-width: 991px){ .u-section-2 .u-sheet-1 {min-height: 446px}
.u-section-2 .u-layout-wrap-1 {width: 720px}
.u-section-2 .u-layout-cell-1 {min-height: 100px}
.u-section-2 .u-layout-cell-2 {min-height: 100px}
.u-section-2 .u-layout-cell-3 {min-height: 100px}
.u-section-2 .u-layout-cell-4 {min-height: 100px} }

@media (max-width: 767px){ .u-section-2 .u-sheet-1 {min-height: 804px}
.u-section-2 .u-layout-wrap-1 {width: 540px; margin: 40px 0}
.u-section-2 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-container-layout-4 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-2 .u-sheet-1 {min-height: 875px}
.u-section-2 .u-layout-wrap-1 {margin-top: 60px; margin-bottom: 60px; margin-right: initial; margin-left: initial; width: auto}
.u-section-2 .u-text-1 {width: auto; margin-right: auto; margin-bottom: 0; margin-left: 0}
.u-section-2 .u-layout-cell-2 {min-height: 164px}
.u-section-2 .u-layout-cell-4 {min-height: 164px} }.u-section-3 {background-image: none}
.u-section-3 .u-sheet-1 {min-height: 749px}
.u-section-3 .u-text-1 {font-size: 3rem; font-weight: 700; font-family: Roboto, sans-serif; text-decoration: underline !important; margin: 61px auto 0}
.u-section-3 .u-layout-wrap-1 {margin: 59px 0 59px auto}
.u-section-3 .u-layout-cell-1 {min-height: 259px}
.u-section-3 .u-container-layout-1 {padding: 30px}
.u-section-3 .u-text-2 {font-weight: 700; font-size: 1.25rem; text-transform: uppercase; letter-spacing: 2px; margin: 51px 0 0}
.u-section-3 .u-text-3 {margin-left: 0; margin-bottom: 0; margin-top: 20px; font-style: normal}
.u-section-3 .u-layout-cell-2 {min-height: 259px}
.u-section-3 .u-container-layout-2 {padding: 30px}
.u-section-3 .u-text-4 {font-weight: 700; font-size: 1.25rem; letter-spacing: 2px; text-transform: uppercase; margin: 0 auto 0 0}
.u-section-3 .u-text-5 {font-style: normal; margin: 20px 0 0}
.u-section-3 .u-image-1 {min-height: 518px; background-image: url("images/rover-1.jpg"); background-position: 50% 50%}
.u-section-3 .u-container-layout-3 {padding: 30px}
.u-section-3 .u-layout-cell-4 {min-height: 259px}
.u-section-3 .u-container-layout-4 {padding: 30px}
.u-section-3 .u-text-6 {font-weight: 700; font-size: 1.25rem; text-transform: uppercase; letter-spacing: 2px; margin: 51px 0 0}
.u-section-3 .u-text-7 {font-style: normal; margin: 20px 0 0 auto}
.u-section-3 .u-layout-cell-5 {min-height: 259px}
.u-section-3 .u-container-layout-5 {padding: 30px}
.u-section-3 .u-text-8 {font-weight: 700; font-size: 1.25rem; text-transform: uppercase; letter-spacing: 2px; margin: 0}
.u-section-3 .u-text-9 {font-style: normal; margin: 20px 0 0 auto} 

@media (max-width: 1199px){ .u-section-3 .u-sheet-1 {min-height: 713px}
.u-section-3 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-3 .u-layout-cell-1 {min-height: 214px}
.u-section-3 .u-layout-cell-2 {min-height: 214px}
.u-section-3 .u-image-1 {min-height: 427px}
.u-section-3 .u-layout-cell-4 {min-height: 214px}
.u-section-3 .u-layout-cell-5 {min-height: 214px} }

@media (max-width: 991px){ .u-section-3 .u-sheet-1 {min-height: 1046px}
.u-section-3 .u-text-1 {width: auto}
.u-section-3 .u-layout-cell-1 {min-height: 100px}
.u-section-3 .u-layout-cell-2 {min-height: 100px}
.u-section-3 .u-image-1 {min-height: 409px}
.u-section-3 .u-layout-cell-4 {min-height: 152px}
.u-section-3 .u-text-6 {margin-top: 0}
.u-section-3 .u-text-7 {width: auto; margin-right: 300px; margin-left: 0}
.u-section-3 .u-layout-cell-5 {min-height: 227px}
.u-section-3 .u-text-9 {width: auto; margin-right: 330px; margin-left: 0} }

@media (max-width: 767px){ .u-section-3 .u-sheet-1 {min-height: 1277px}
.u-section-3 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-image-1 {min-height: 614px}
.u-section-3 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-layout-cell-4 {min-height: 100px}
.u-section-3 .u-container-layout-4 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-text-7 {margin-right: 160px}
.u-section-3 .u-layout-cell-5 {min-height: 100px}
.u-section-3 .u-container-layout-5 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-text-9 {margin-right: 190px} }

@media (max-width: 575px){ .u-section-3 .u-sheet-1 {min-height: 1463px}
.u-section-3 .u-text-1 {margin-left: 0; margin-right: 0}
.u-section-3 .u-layout-wrap-1 {margin-top: 20px; margin-bottom: 60px; margin-right: initial; margin-left: initial}
.u-section-3 .u-image-1 {min-height: 387px}
.u-section-3 .u-text-7 {margin-right: 0}
.u-section-3 .u-text-9 {margin-right: 0} }.u-section-4 {background-image: none}
.u-section-4 .u-sheet-1 {min-height: 79px}
.u-section-4 .u-text-1 {margin: 0} 

@media (max-width: 767px){ .u-section-4 .u-text-1 {margin-top: 60px; margin-bottom: 60px} }.u-block-88cb-1 {background-image: url("images/pexelsphoto3740657.jpeg"); background-position: 0% 88.25%}
.u-block-88cb-2 {position: absolute; bottom: 10px}
.u-block-88cb-3 {position: absolute; left: 0; width: 50px; height: 50px; background-image: none}
.u-block-88cb-4 {position: absolute; right: 0; width: 50px; height: 50px; background-image: none}.u-section-6 {background-image: none}
.u-section-6 .u-sheet-1 {min-height: 541px}
.u-section-6 .u-layout-wrap-1 {margin-top: 60px; margin-bottom: 60px}
.u-section-6 .u-layout-cell-1 {min-height: 219px}
.u-section-6 .u-container-layout-1 {padding: 30px}
.u-section-6 .u-text-1 {margin-top: 23px; margin-bottom: 0; font-weight: 700; margin-left: 0; font-size: 3rem; text-decoration: underline !important}
.u-section-6 .u-layout-cell-2 {min-height: 220px}
.u-section-6 .u-container-layout-2 {padding: 30px}
.u-section-6 .u-text-2 {font-size: 1.5rem; margin: 0 -30px}
.u-section-6 .u-layout-cell-3 {min-height: 219px}
.u-section-6 .u-container-layout-3 {padding: 30px}
.u-section-6 .u-icon-1 {height: 48px; width: 48px; margin: 0 auto 0 0}
.u-section-6 .u-text-3 {text-transform: uppercase; font-weight: 700; letter-spacing: 2px; margin: 20px auto 0 0}
.u-section-6 .u-text-4 {margin: 23px auto 0 0}
.u-section-6 .u-btn-1 {padding: 0} 

@media (max-width: 1199px){ .u-section-6 .u-sheet-1 {min-height: 528px}
.u-section-6 .u-layout-cell-1 {min-height: 180px}
.u-section-6 .u-layout-cell-2 {min-height: 181px}
.u-section-6 .u-text-2 {margin-left: 0; margin-right: 0}
.u-section-6 .u-layout-cell-3 {min-height: 180px} }

@media (max-width: 991px){ .u-section-6 .u-sheet-1 {min-height: 428px}
.u-section-6 .u-layout-cell-1 {min-height: 100px}
.u-section-6 .u-layout-cell-2 {min-height: 100px}
.u-section-6 .u-layout-cell-3 {min-height: 100px} }

@media (max-width: 767px){ .u-section-6 .u-sheet-1 {min-height: 938px}
.u-section-6 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-6 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-6 .u-container-layout-3 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-6 .u-sheet-1 {min-height: 665px} }