.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 908px;
}

.u-section-1 .u-text-1 {
  margin: 123px 89px 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 30px auto 0;
}

.u-section-1 .u-custom-html-1 {
  min-height: 479px;
  margin: 17px 80px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 73px;
    margin-right: 73px;
  }

  .u-section-1 .u-custom-html-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 56px;
    margin-right: 56px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 42px;
    margin-right: 42px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: 26px;
    margin-right: 26px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: -477px;
    margin-right: initial;
    margin-left: initial;
  }
}