.u-section-1 .u-sheet-1 {
  min-height: 879px;
}

.u-section-1 .u-custom-html-1 {
  min-height: 607px;
  height: auto;
  margin: 0 570px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-custom-html-1 {
    margin-right: initial;
    margin-left: initial;
  }
}