.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/mountains-nature-landscape_1204-297.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 856px;
}

.u-section-1 .u-text-1 {
  margin: 110px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 48px auto 0 714px;
  padding: 22px 87px 22px 85px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -70px auto 0 160px;
  padding: 22px 91px 22px 90px;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 86px auto 0 714px;
  padding: 22px 23px 22px 22px;
}

.u-section-1 .u-btn-4 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -70px auto 0 160px;
  padding: 22px 63px 22px 61px;
}

.u-section-1 .u-btn-5 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 93px auto 0 714px;
  padding: 22px 77px 22px 75px;
}

.u-section-1 .u-btn-6 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -70px auto 60px 160px;
  padding: 22px 41px 22px 39px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 706px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 514px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 514px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 514px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 541px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 294px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 20px;
    margin-left: 294px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 294px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 20px;
    margin-left: 294px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 294px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 20px;
    margin-left: 294px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 903px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 13px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 13px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 13px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 13px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 13px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 755px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 131px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -153px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 179px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -153px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 179px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: -153px;
  }
}