.u-section-5-1 {
  background-image: none;
}

.u-section-5-1 .u-sheet-1 {
  min-height: 627px;
}

.u-section-5-1 .u-text-1 {
  font-size: 1.25rem;
  font-style: italic;
  margin: 20px auto 0;
}

.u-section-5-1 .u-image-1 {
  height: 543px;
  animation-duration: 1000ms;
  margin: 0 auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-5-1 .u-sheet-1 {
    min-height: 517px;
  }

  .u-section-5-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-5-1 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-5-1 .u-sheet-1 {
    min-height: 396px;
  }
}

@media (max-width: 767px) {
  .u-section-5-1 .u-sheet-1 {
    min-height: 297px;
  }

  .u-section-5-1 .u-text-1 {
    font-size: 1.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-5-1 .u-sheet-1 {
    min-height: 187px;
  }
}.u-section-5-2 {
  background-image: none;
}

.u-section-5-2 .u-sheet-1 {
  min-height: 627px;
}

.u-section-5-2 .u-video-1 {
  margin-left: 0;
}

.u-section-5-2 .u-text-1 {
  font-size: 1.25rem;
  font-style: italic;
  margin: 20px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-5-2 .u-sheet-1 {
    min-height: 531px;
  }

  .u-section-5-2 .u-video-1 {
    left: 0;
    right: auto;
    margin-left: initial;
  }

  .u-section-5-2 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5-2 .u-sheet-1 {
    min-height: 567px;
  }

  .u-section-5-2 .u-text-1 {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-5-2 .u-sheet-1 {
    min-height: 498px;
  }

  .u-section-5-2 .u-text-1 {
    font-size: 1.25rem;
  }
}.u-section-5-3 {
  background-image: none;
}

.u-section-5-3 .u-sheet-1 {
  min-height: 627px;
}

.u-section-5-3 .u-video-1 {
  width: 1078px;
}

.u-section-5-3 .u-text-1 {
  font-size: 1.875rem;
  font-style: italic;
  margin: 0 784px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-5-3 .u-sheet-1 {
    min-height: 531px;
  }

  .u-section-5-3 .u-video-1 {
    width: 570px;
    left: 0;
    right: auto;
  }

  .u-section-5-3 .u-text-1 {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-5-3 .u-sheet-1 {
    min-height: 567px;
  }

  .u-section-5-3 .u-video-1 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5-3 .u-text-1 {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-5-3 .u-sheet-1 {
    min-height: 498px;
  }

  .u-section-5-3 .u-video-1 {
    width: 540px;
  }

  .u-section-5-3 .u-text-1 {
    font-size: 1.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-5-3 .u-video-1 {
    width: 340px;
  }
}.u-section-5-4 {
  background-image: none;
}

.u-section-5-4 .u-sheet-1 {
  min-height: 627px;
}

.u-section-5-4 .u-video-1 {
  width: 974px;
  height: 549px;
  margin: 51px auto 0;
}

.u-section-5-4 .u-text-1 {
  font-size: 1.875rem;
  font-style: italic;
  margin: -600px 843px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-5-4 .u-sheet-1 {
    min-height: 879px;
  }

  .u-section-5-4 .u-video-1 {
    width: 940px;
    margin-top: 565px;
  }

  .u-section-5-4 .u-text-1 {
    margin-top: -374px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5-4 .u-sheet-1 {
    min-height: 627px;
  }

  .u-section-5-4 .u-video-1 {
    width: 720px;
    margin-top: 141px;
  }

  .u-section-5-4 .u-text-1 {
    margin-top: -434px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-5-4 .u-video-1 {
    width: 540px;
    margin-top: 93px;
  }

  .u-section-5-4 .u-text-1 {
    font-size: 1.25rem;
    margin-top: -386px;
  }
}

@media (max-width: 575px) {
  .u-section-5-4 .u-video-1 {
    width: 340px;
  }
}.u-section-1 {
  background-image: url("images/back1.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 818px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: 60px auto 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 44px;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin: 0 368px 0 0;
}

.u-section-1 .u-btn-1 {
  padding: 0;
}

.u-section-1 .u-btn-2 {
  margin-top: 0;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  padding: 0;
}

.u-section-1 .u-btn-4 {
  padding: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-2 {
  margin-top: 0;
  font-size: 4.5rem;
  font-weight: 900;
  margin-bottom: 0;
  text-decoration: underline !important;
}

.u-section-1 .u-list-1 {
  min-height: 214px;
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  grid-gap: 0 0;
  margin: 84px auto 60px 0;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-icon-1 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-1 .u-btn-5 {
  padding: 0;
}

.u-section-1 .u-list-item-2 {
  background-position: 50% 50%;
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-icon-2 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-1 .u-btn-6 {
  padding: 0;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-icon-3 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-1 .u-btn-7 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 411px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 294px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 69px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 268px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-1 .u-list-1 {
    min-height: 176px;
    height: auto;
    margin-top: 75px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 315px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 932px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 158px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-list-1 {
    min-height: 404px;
    grid-template-columns: 50% 50%;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    background-position: 0% 50%;
    min-height: 236px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 1190px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: NaNpx;
    order: 1;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: NaNpx;
    order: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 149px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 345px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: -853px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-1 .u-list-1 {
    grid-gap: 0px 0px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 789px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 876px;
  margin: 60px auto 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 368px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  margin-top: 0;
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 368px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  margin: 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 361px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 361px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-text-4 {
  margin-top: 0;
  font-size: 1.125rem;
}

@media (max-width: 1199px) {
  .u-section-2 .u-layout-wrap-1 {
    min-height: 729px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 446px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 804px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
    margin: 40px 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 250px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 107px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 250px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 107px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 815px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 60px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 749px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  font-family: Roboto, sans-serif;
  text-decoration: underline !important;
  margin: 61px auto 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 59px 0 59px auto;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 259px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 51px 0 0;
}

.u-section-3 .u-text-3 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
  font-style: normal;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 259px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-5 {
  font-style: normal;
  margin: 20px 0 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 518px;
  background-size: 130%;
  animation-duration: 1000ms;
}

.u-section-3 .u-image-1 {
  background-image: url("images/acrylicRover41.jpg");
  transition-duration: 1s;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 259px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 51px 0 0;
}

.u-section-3 .u-text-7 {
  font-style: normal;
  margin: 20px 0 0 auto;
}

.u-section-3 .u-layout-cell-5 {
  min-height: 259px;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-text-8 {
  font-weight: 700;
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0;
}

.u-section-3 .u-text-9 {
  font-style: normal;
  margin: 20px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 713px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 214px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 214px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 427px;
    background-position: 50% 50%;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 214px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 214px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1046px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 409px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 152px;
  }

  .u-section-3 .u-text-6 {
    margin-top: 0;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-right: 300px;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 227px;
  }

  .u-section-3 .u-text-9 {
    width: auto;
    margin-right: 330px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1277px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 150px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 150px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 614px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 114px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 160px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 170px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-9 {
    margin-right: 190px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1279px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 20px;
    margin-bottom: -124px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 387px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-3 .u-text-9 {
    margin-right: 0;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 79px;
}

.u-section-4 .u-text-1 {
  margin: 0;
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}.u-block-88cb-1 {
  background-image: url("np://user.desktop.nicepage.com/Site_2141350/images/pexelsphoto3740657.jpeg");
  background-position: 0% 88.25%;
}

.u-block-88cb-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-88cb-3 {
  position: absolute;
  left: 0;
  width: 50px;
  height: 50px;
  background-image: none;
}

.u-block-88cb-4 {
  position: absolute;
  right: 0;
  width: 50px;
  height: 50px;
  background-image: none;
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 884px;
}

.u-section-6 .u-text-1 {
  margin: 0 auto;
}

.u-section-6 .u-custom-html-1 {
  min-height: 807px;
  margin: 30px 0 0 -11px;
}

@media (max-width: 1199px) {
  .u-section-6 {
    min-height: 944px;
  }

  .u-section-6 .u-custom-html-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/31.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-sheet-1 {
  min-height: 221px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  text-decoration: underline;
  margin: 40px auto 0 30px;
}

.u-section-7 .u-text-2 {
  width: 888px;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 182px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 25px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 139px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 19px;
  }

  .u-section-7 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 104px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 14px;
  }

  .u-section-7 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 287px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 9px;
  }

  .u-section-7 .u-text-2 {
    width: 340px;
  }
}.u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 541px;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 174px;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-text-1 {
  margin-top: 23px;
  margin-bottom: 0;
  font-weight: 700;
  margin-left: 0;
  font-size: 3rem;
  text-decoration: underline !important;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 296px;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px;
}

.u-section-8 .u-text-2 {
  font-size: 1.5rem;
  margin: 0 -30px 0 0;
}

.u-section-8 .u-layout-cell-3 {
  min-height: 296px;
}

.u-section-8 .u-container-layout-3 {
  padding: 30px;
}

.u-section-8 .u-icon-1 {
  height: 48px;
  width: 48px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-8 .u-text-3 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 32px 84px 0 0;
}

.u-section-8 .u-text-4 {
  margin: 16px auto 0 0;
}

.u-section-8 .u-btn-1 {
  padding: 0;
}

.u-section-8 .u-layout-cell-4 {
  min-height: 296px;
}

.u-section-8 .u-container-layout-4 {
  padding: 30px;
}

.u-section-8 .u-icon-2 {
  height: 48px;
  width: 48px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-8 .u-text-5 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 32px auto 0 0;
}

.u-section-8 .u-btn-2 {
  margin: 16px auto 0 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 528px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 180px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 244px;
  }

  .u-section-8 .u-text-2 {
    margin-right: 0;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 244px;
  }

  .u-section-8 .u-text-3 {
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-8 .u-text-4 {
    margin-top: 23px;
  }

  .u-section-8 .u-layout-cell-4 {
    min-height: 244px;
  }

  .u-section-8 .u-text-5 {
    width: auto;
    margin-top: 20px;
  }

  .u-section-8 .u-btn-2 {
    margin-top: 20px;
    margin-right: -10px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 428px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 221px;
  }

  .u-section-8 .u-text-4 {
    width: auto;
    margin-top: 16px;
    margin-right: -56px;
  }

  .u-section-8 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-8 .u-btn-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 938px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 75px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 665px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-text-4 {
    margin-right: 0;
  }
}